.custom-header-item{
    display: block;
    color: #222;
    font-size: 14px;
    font-weight: 900;
    line-height: 23px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2px 18px;
    letter-spacing: 0.07em;
    position: relative;
    border-radius: 4px;
}